<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Név</th>
          <th scope="col">Kor</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>30</td>
          <td>johndoe@example.com</td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>28</td>
          <td>janesmith@example.com</td>
        </tr>
        <tr>
          <td>Mark Johnson</td>
          <td>35</td>
          <td>markjohnson@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  